@import "../../helpers/variables/initialize";
@import "../../helpers/mixins/initialize";
// VARIABLES
$input-main-color: $Red-eMotion;
$input-placeholder-color: $manatee;
$input-el-border-color: $silver;
$translateY: -20px;

.a-textInput {
  position: relative;

  &__element {
    display: inline-block;
    width: 100%;

    padding: $md;
    padding-top: $xl;
    border: 1px solid $input-el-border-color;

    color: $input-main-color;

    font-size: $fs-15;

    cursor: pointer;

    transition: all .4s;
    border-radius: 10px;
    outline: $input-main-color;
    transform: none;

    &:focus {
      border-color: $input-main-color;
    }

    &.-animate:focus {
      border-color: transparent;
    }

    &:focus ~ .a-textInput__pcAnimation {
      opacity: 1;
      visibility: visible;

      transform: scaleX(1) scaleY(1);
    }

    &:placeholder-shown + .a-textInput__placeholder {
      transform: none;
    }

    &:focus + .a-textInput__placeholder {
      transform: scale(.7) translateY($translateY);
    }
  }

  &__placeholder {
    position: absolute;
    top: 22px;
    left: $md;

    color: $input-placeholder-color;

    transition: all .3s;
    pointer-events: none;
    user-select: none;
    transform-origin: 0 0;
    transform: scale(.7) translateY($translateY);
  }

  &__pcAnimation {
    position: absolute;
    top: -1px;
    left: -1px;

    display: block;
    width: 100%;
    height: 100%;

    border: 1px solid $input-main-color;

    opacity: 0;
    visibility: hidden;

    pointer-events: none;
    border-radius: 10px;
    transition: all .4s;
    transform: scaleX(1.1) scaleY(1.3);
  }
}
