@import "../../helpers/variables/initialize";
@import "../../helpers/mixins/initialize";
// VARIABLES
$button-color: $gray;
$button-hover-color: $Red-eMotion;

.a-linkButton {
  display: inline-block;

  margin-left: auto;

  color: $button-color;

  text-decoration: none;

  @include transition-ease;

  &:hover {
    color: $button-hover-color;
  }
}
